html {
	font-size: 20px;
}

body {
	background-color: antiquewhite;
	text-align: center;
	margin: 0;
}

h1.title {
	font-size: 50px;
	padding: 0.7rem;
	border-bottom: 2px solid rgb(109, 109, 109, 0.5);
}

.container {
	width: 500px;
	margin: auto;
	margin-top: 2rem;
	border: 2px dashed black;
	padding: 1rem 3rem;
	background-color: wheat;
}

.note {
	background-color: rgba(255, 255, 0, 0.393);
	font-size: 0.7em;
	border: 3px solid darkblue;
}

.note::before {
	content: "💡 ";
	font-size: 2em;
}

ul {
	list-style: none;
}

.recipe-list {
	border-top: 1px solid black;
}

li {
	margin: 4em auto;
}

li a {
	color: whitesmoke;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	border: 4px solid whitesmoke;
	border-radius: 1em;
	padding: 16px;
	text-align: center;
	background-color: black;
}
