@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	line-height: 1.5;
}

html {
	font-size: 20px;
}

body {
	background-color: antiquewhite;
	text-align: center;
	margin: 0;
	font-family: "Roboto", Arial, sans-serif;
}

h1.title {
	font-size: 50px;
	padding: 0.7rem;
	border-bottom: 2px solid rgb(109, 109, 109, 0.5);
	margin: 0 0.5em;
}

h1.title a {
	text-decoration: none;
	color: inherit;
	font-size: 3rem;
}

.container {
	width: 400px;
	margin: 1em auto;
	margin-top: 2rem;
	border: 2px dashed black;
	padding: 1rem 3rem;
	background-color: wheat;
}

.note {
	background-color: rgba(0, 3, 47, 0.831);
	color: rgb(146, 145, 145);
	font-size: 0.8em;
	border: 3px solid rgba(0, 0, 139, 0.491);
	border-radius: 15px;
	padding: 1em;
	font-style: italic;
	margin: 1em auto;
}

.note::before {
	content: "💡 ";
	font-size: 2em;
	font-style: normal;
}

.recipe-list {
	border-top: 1px solid black;
	margin: 0 auto;
	padding: 10px 0;
}

.recipe-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.recipe-list li a {
	display: block;
	color: black;
	text-decoration: none;
	font-weight: bold;
	border-bottom: 4px solid rgb(0, 0, 0);
	border-left: 4px dashed black;
	border-right: 4px dashed black;
	padding: 1em;
	text-align: center;
	background-color: rgb(251, 236, 209);
}

.recipe-list li:first-child a {
	border-top: 4px solid black;
}

.recipe-card {
	width: 70%;
	margin: 1em auto;
	color: whitesmoke;
	border-radius: 20px;
	padding: 1em;
	border: 4px dashed;
	box-shadow: 0 0 20px black;
}

.recipe-card h2 {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.5);
	width: fit-content;
	padding: 0.7em;
	border: 2px solid whitesmoke;
	border-radius: 20px;
	font-size: 2rem;
}

.recipe-card h3 {
	border-bottom: 1px solid whitesmoke;
	padding-bottom: 0.5em;
	font-size: 1.5rem;
	text-transform: uppercase;
}

.recipe-card ul li,
.recipe-card ol li {
	text-align: left;
	margin: 0.5em;
}

.recipe-card ul li {
	list-style: disc;
}

.video-link {
	font-weight: bold;
	color: rgb(253, 255, 106);
}

.video-link::before {
	text-decoration: none;
	content: "📽️ ";
	font-style: normal;
}

.instructions h4 {
	text-align: left;
}

.ingredients h3::before {
	content: "🔪 ";
}

.instructions h3::before {
	content: "📔 ";
}

.recipe-card.spaghetti {
	background-image: radial-gradient(
		ellipse,
		rgb(134, 13, 13) 0%,
		rgb(0, 0, 0) 110%
	);
}

.recipe-card.curry {
	background-image: radial-gradient(ellipse, rgb(121, 79, 1) 0%, black 110%);
}

.recipe-card.eggs {
	background-image: radial-gradient(ellipse, rgb(111, 111, 111) 0%, black 110%);
}

.recipe-card.potatoes {
	background-image: radial-gradient(ellipse, rgb(119, 112, 59) 0%, black 110%);
}

.recipe-info li h3 {
	border: none;
}

.recipe-info .overview li h3,
.recipe-info .overview li p {
	font-size: 0.75em;
	margin: 2px;
}

.recipe-info ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.recipe-info .overview li {
	list-style: none;
	border-left: 2px solid rgb(148, 147, 147);
	padding-left: 4px;
}

.overview h3.title {
	margin-top: 2px;
}

.overview h3.title::before {
	content: "❔ ";
}
